<?xml version="1.0"?>
<launch>
  <arg name="robot" default="cf1"/>
  <arg name="uri" default="radio://0/100/2M/E7E7E7E701" /> <!-- less than 10 -->
  <arg name="frame" default="/cf1/odom" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch"/>

  <include file="$(find vicon)/launch/vicon.launch"/>

  <include file="$(find vicon_odom)/launch/vicon_odom.launch">
    <arg name="model" value="cf1" />
  </include>

  <group ns="$(arg robot)">
    <node name="crazyflie_add" pkg="crazyflie_driver" type="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri)" />
      <param name="tf_prefix" value="$(arg robot)" />
      <rosparam>
        enable_logging: True
        genericLogTopics: ["motor", "pwm", "thrust"]
        genericLogTopicFrequencies: [10, 10, 10]     # in ms
        genericLogTopic_motor_Variables: ["motor.m1", "motor.m2", "motor.m3", "motor.m4"]
        genericLogTopic_pwm_Variables: ["pwm.m1_pwm", "pwm.m2_pwm", "pwm.m3_pwm", "pwm.m4_pwm"]
        genericLogTopic_thrust_Variables: ["stabilizer.thrust", "controller.actuatorThrust", "extrx.thrust"]
        # genericLogTopic_log1_Variables: ["ctrlStat.edist"]
      </rosparam>
    </node>

    <node name="pose" pkg="ee245" type="publish_external_position_vicon_odom.py" output="screen">
      <param name="topic" value="$(arg frame)" />
    </node>
  </group>


</launch>
